@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@500&family=Dela+Gothic+One&family=Fredoka+One&family=Indie+Flower&family=Kalam&family=Lobster&family=Lobster+Two:ital@1&family=Macondo&family=Poppins:wght@400;500&family=Red+Rose&family=Righteous&display=swap');


/* Start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 13vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 15%;
    margin-left: 20px;
    /* background-color: chocolate; */
}
.menu{
    width: 35%;
    /* background-color: chartreuse; */
    
}
.menu ul{
    display: flex;
    justify-content: space-around;

}
.menu ul li a{
    list-style: none;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
.nav-btn{
    width: 50%;
    /* background-color: darkgrey; */
    display: flex;
    justify-content: flex-end;
    margin-right: 55px;
}
.nav-btn button{
  color: #ffffff;
  background: #ba0cc5;
  border-radius: 6px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  width: 110px;
  height: 35px;
}
.nav-btn button:hover{
    color: #ba0cc5;
    background-color: #ffffff;
    cursor: pointer;
}

/* Hero Section */
.hero-section{
    width: 100%;
    height: 100vh;
    background-image: url(./Assets/background.png);
    background-size:100% 95%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.heading h1{
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
  max-width: 800px;
  margin-top: 50px;
  font-family: "Poppins";
}
.paragraph p{
    margin-bottom: 200px;
    font-size: 28px;
    font-family:"Poppins";
    font-weight: 500;
    color: #ffffff;
}
.hero-btn{
    position: relative;
    bottom: 175px;
}
.hero-btn button{
    width: 225px;
    height: 50px;
    background: #ba0cc5;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-family:"Poppins";
    font-weight: 600;
    letter-spacing: 1px;
}
.hero-btn button:hover{
    color: #ba0cc5;
    background-color: #ffffff;
    cursor: pointer;
}


